@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  [role='button'] {
    cursor: default;
  }
}

@layer components {
  .header {
    margin-left: env(titlebar-area-x, 0);
    margin-right: calc(
      100% - env(titlebar-area-x, 0) - env(titlebar-area-width, 0)
    );
  }

  .drag {
    -webkit-app-region: drag;
    app-region: drag;
  }

  .no-drag {
    -webkit-app-region: no-drag;
    app-region: no-drag;
  }

  .bg-gradient-brand {
    @apply bg-gradient-to-r from-brand-700 to-accent-500;
  }

  .bg-gradient-brand-active {
    @apply bg-gradient-to-r from-brand-900 to-accent-700;
  }

  .bg-gradient-danger {
    @apply bg-gradient-to-r from-danger-700 to-dangerAccent-500;
  }

  .bg-gradient-danger-active {
    @apply bg-gradient-to-r from-danger-900 to-dangerAccent-700;
  }

  .bg-blur {
    @apply rounded-md border shadow-xl;
    @apply border-black border-opacity-10;
    @apply bg-white bg-opacity-80;
    @apply backdrop-blur-xl backdrop-filter;
  }
}
