@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: 'Inter var';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Inter-roman.var.woff2') format('woff2');
    font-named-instance: 'Regular';
  }

  @font-face {
    font-family: 'Inter var';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Inter-italic.var.woff2') format('woff2');
    font-named-instance: 'Italic';
  } */
}

@layer base {
  button,
  [role='button'] {
    cursor: default;
  }
}

@layer components {
  .bg-gradient-brand {
    @apply bg-gradient-to-r from-brand-700 to-accent-600;
  }

  .bg-blur {
    @apply rounded-md border shadow-xl;
    @apply border-black border-opacity-10;
    @apply bg-white bg-opacity-70;
    @apply backdrop-filter backdrop-blur-lg;
  }
}
